@import url(https://fonts.googleapis.com/css?family=Oxygen);
div {
    font-family: 'Oxygen', sans-serif;
}
div#appDrawer header img {
    width: 180px;
    margin: 60px 0;
}
#fondoinicio {
    background: #fff;
    position: absolute;
}
#inicio {
    font-size: 22px;
    bottom: 0;
    background: transparent;
    width: 100%;
}

.btn {
    border-radius: 20px!important;
    padding: 10px!important;
    border: 1px solid #212f61;
    font-size: 22px;
}
body {
    color:#727176;
} 

#kendoUiMobileApp.km-flat .km-drawer .km-content {
    background-color: inherit;
}
.km-flat .km-list>li {
    background: inherit;
}
.col-xs-offset-2 {
    margin-left: 16.66666667%!important;
}
.formulario {
    float: left;
}
.formulario .km-list label,
.formulario .km-list input,
.formulario .km-list select,
.k-input {
    font-size: 22px!important;
    font-weight: normal;
}
.formulario .km-list label {
    text-align: center;
    width: 100%!important;
}
.formulario .km-list li {
    border: none!important;
    background: transparent;
}
.formulario .km-list input,
.formulario .km-list input[type=date],
.formulario .km-list select {
    margin-top: 5px!important;
    text-align: center;
    width: 100%!important;
    position: inherit!important;
    border-bottom: 2px solid #0056B3!important;
}
.titulo {
    margin-top: 40px;
    margin-bottom: 40px;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}
h2.azul {
    margin-top: 0;
}
.amarillo {
    color: #f0e42f;
}
.azul {
    color: #212f61;
}

#kendoUiMobileApp.km-flat .button-group .km-button.primary {
    color: #212f61;
    background: #fff;
}
.km-scroll-container {
    height: 100%;
    position: absolute;
}
#appDrawer {} #appDrawer .km-scroll-container {
    position: static;
}
.imagenpagina {
    margin: 60px 0;
    font-style: italic;
    text-align: center;
}
.imagenpagina img {
    width: 120px;
}
.pie {
    position: absolute;
    bottom: 0;
}
.pie2 {
    width: 100%;
}
.pie2 img {
    width: 100%;
}
.km-flat .km-listview-link:after {
    display: none;
}
a.km-listview-link {
    font-size: 20px;
}
#kendoUiMobileApp #navigation-container .active {
    background: inherit;
}
.km-flat .km-rowinsert,
.km-flat .km-state-active,
.km-flat .km-scroller-pull,
.km-flat .km-loader:before,
.km-flat .k-slider-selection,
.km-flat .km-touch-scrollbar,
.km-flat .km-pages .km-current-page,
.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover,
.km-flat .km-tabstrip .km-state-active,
.km-flat .km-scroller-refresh.km-load-more,
.km-flat .km-popup .k-state-hover,
.km-flat .km-popup .k-state-focused,
.km-flat .km-popup .k-state-selected,
.km-flat .km-actionsheet>li>a:active,
.km-flat .km-actionsheet>li>a:hover,
.km-flat .km-actionsheet>li>.km-state-active,
.km-flat li.km-state-active .km-listview-link,
.km-flat li.km-state-active .km-listview-label,
.km-flat .km-listview-label input[type=radio]:checked,
.km-flat .km-listview-label input[type=checkbox]:checked {
    background: #212f61;
}
.boton {
    margin-top: 30px;
}
.km-flat .km-listview-label input[type=checkbox] {
    border-radius: 30px;
    border: 1px solid!important;
    height: 35px!important;
    width: 35px!important;
}
ul li label span.k-dropdown {
    border-radius: 0!important;
    border-bottom: 2px solid #0056B3!important;
    text-align: center!important;
    margin-top: 0px!important;
    width: 100%!important;
    position: inherit!important;
}
.km-flat,
.km-flat .km-navbar,
.km-flat .k-toolbar,
.km-flat .km-detail,
.km-flat #appDrawer .km-content {
    color: #ffffff!important;
    background-color: #0056B3;
}
.km-navbar .km-button {
    border: 0;
    background: inherit;
    color: #F5CF00;
    margin: -5px 0 0 0 !important;
    padding: 0;
    font-size: 2em;
}
.km-flat .km-content {
    background-color: #fff;
}
a:focus,
a:hover {
    color: inherit;
}
.km-cerrar-sesion:after,
.km-cerrar-sesion:before {
    content: "\e0b3";
}
.km-list>li {
    padding: .8em 1.7em;
}